* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: black;
}

body {
    font-size: 16px;
    color: #333333;
    font-weight: 400;
    line-height: 1.4;
    font-family: "cupag";
    height: 30000px;
    /*임시*/ 
}
img {
    display: block;
}

.inner {
    width: 1100px;
    margin: 0 auto;
    position: relative;
}

.btn:hover {
    color: #fff;
    background-color: #333;
}

.btn.btn--reverse {
    background-color: #333;
    color: #fff;
}

.btn.btn--reverse:hover {
    background-color: transparent;
    color: #333;
}

.btn.btn--brown {
    color: #592B18;
    border-color: #592B18;
}

.btn.btn--brown:hover {
    color: #fff;
    background-color: #592B18;
}

.btn.btn--gold{
    color: #d9aa8a;
    border-color: #d9aa8a;
}

.btn.btn--gold:hover {
    color: #fff;
    border-color: #d9aa8a;
}

.btn.btn--white{
    color: #fff;
    border-color: #fff;
}

.btn.btn--white:hover{
    color: #333;
    background-color: #fff;
}


.btn {
    width: 130px;
    padding: 10px;
    border: 2px solid #333;
    border-radius: 4px;
    color: #333;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    transition: 0.4s;
}


/* HEADER */
header {
    background-color: #f6f5f0;
    border-bottom: 1px solid #c8c8c8;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9;
}

header > .inner {
    height: 120px;
}

.logo {

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
}
.logo img {
    width: 100px;
}

header .sub-menu {
    position: absolute;
    top: 10px;
    right: 0;
    display: flex;
}

header .sub-menu ul.menu {
    display: flex;
    font-family: Arial, sans-serif;
}

header .sub-menu ul.menu li {
    position: relative;
}

header .sub-menu ul.menu li::before {
    content: "";
    width: 1px;
    height: 12px;
    background-color: #e5e5e5;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
}
header .sub-menu ul.menu li:first-child::before {
    display: none;
}
header .sub-menu ul.menu li a {
    font-size: 12px;
    padding: 11px 16px;
    display: block;
    color: #656565;
}

header .sub-menu ul.menu li a:hover {
    color: black;
}

header .sub-menu .search {
    height: 34px;
    position: relative;
}

header .sub-menu .search input {
    width: 36px;
    height: 34px;
    padding: 4px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;
    background-color: #fff;
    color: #777;
    transition: width 0.4s;
    font-size: 12px;
}

header .sub-menu .search input:focus {
    width: 190px;
    border-color: #669900;
}

.icon img {
    filter: invert(100%);
    position: absolute;
    height: 24px;
    margin: auto;
    top: 0;
    bottom: 0;
    right: 5px;
    cursor: pointer;
    transition: 0.4s;
}

.search.focused .icon img {
    opacity: 0;
}
/* HEADER */

.main-menu {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 1;
}

.item__name {
    padding: 10px 20px 34px;
    font-family: Arial , sans-serif;
    font-size: 13px;
}

.item:hover .item__name:hover {
    background-color: #2c2a29;
    color: #669900;
    cursor: pointer;
    border-radius: 6px 6px 0 0;
}

.item__contents {
    width: 100%;
    position: fixed;
    left: 0;
    display: none;

}

.item:hover .item__contents {
    display: block;
}

.contents__menu {
    background-color: #2c2a29;
}

.contents__menu > ul {
    display: flex;
    padding: 20px 0;
}

.contents__menu > ul > li {
    width: 220px;
}

.contents__menu > ul > li h4 {
    padding: 3px 0 12px;
    color: #fff;
    font-size: 14px;
}

.contents__menu > ul > li ul li {
    padding: 5px 0;
    font-size: 12px;
    color: #999;
    cursor: pointer;

}

.contents__menu > ul > li ul li:hover {
    color: #669900;
}

.contents__texture {
    background-image: url("/img/main_menu_pattern.jpg");
    height: 100px;
    font-size: 12px;
    padding: 26px 0;
}

.contents__texture h4 {
    color: #999;
    font-weight: 700;
}

.contents__texture p {
    color: #669900;
    margin: 4px 0 14px;
}

.badges {
    position: absolute;
    top: 132px;
    right: 12px;
}

.badge {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 12px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0 , 0.15);
    cursor: pointer;
}

/*VISUAL*/

.visual {
    margin-top: 120px;
    background-image: url("/img/visual_bg.jpg");
    background-position: center;
}

.visual .inner {
    height: 646px;
}

.visual .title {
    position: absolute;
    top: 88px;
    left: -10px;
}

.visual .btn {
   position: absolute;
   top: 259px;
   left: 173px;

}

.cup1.image {
    position: absolute;
    bottom: 0;
    right: -47px;
}

.cup1.text {
    position: absolute;
    top: 38px;
    right: 171px;
}

.cup2.image {
    position: absolute;
    bottom: 0;
    right: 162px;
}

.cup2.text {
    position: absolute;
    top: 321px;
    right: 416px;
}

.spoon {
    position: absolute;
    bottom: 0;
    left: 275px;
}

.fade-in {
    opacity: 0;
}
/*VISUAL*/



/* NOTICE */

.notice {

}

.notice-line{
    position: relative;
}

.bg-left {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background-color: #333;
}

.bg-right {
    position: absolute;
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    background-color: #f6f5ef;
}

.inner__left{
    width: 60%;
    height: 100%;
    background-color: #333;
    display: flex;
}

.inner__left h2 {
    color: #fff;
    font-size: 17px;
    font-weight: 700;
    margin-right: 20px;
}

.swiper-container {
    background-color: orange;
    flex-grow: 1;
}

.notice-line_more {

}


.inner__right {
    width: 40%;
    height: 100%;
}

.notice-line .inner {
   height: 62px;
    display: flex;
}





@font-face {
    font-family: 'cupag';
    src: url("/font/GmarketSansTTF/GmarketSansTTFMedium.ttf") format('woff');
    font-weight: normal;
    font-style: normal;
}